/*
https://fonts.google.com/
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/
CodePen - https://codepen.io/luizomf/full/KKNwMeG
Github - https://github.com/luizomf/landing-page-cursojs
Background SVG - https://www.svgbackgrounds.com/#confetti-doodles  
Acessibilidade:
https://achecker.achecks.ca/checker/index.php
Imagens:
https://undraw.co/
Otimizar svg
site omg svg
unplash - imagens aleatorios
source.unsplash.com/random/360x360

google - coracao    -> procurar por html code heart
becons.pages/

https://www.w3schools.com/charsets/ref_utf_dingbats.asp
*/

.intro-content {
  position: relative;
  /*top: -8rem;*/

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var (--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.intro-img img, .intro svg {
  max-width: 100%;
  height: auto;
}

.top3-content {
  display: flex;
  /*flex-flow: column wrap;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  max-width: 94rem;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  /* criar contador */
  counter-reset: grid-counter;

}

.grid h3 {
  font-size: 3rem;
  /* para ajustar o elemento de baixo h3 a usar o top 0, caso contrario o top 0 vai para o inicio da pagina */
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);

}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;

}


.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, -3%) scale(1.2) rotate(5deg);
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-group {
  min-width: 320px;
  flex: 1 1 auto;
}


.form-group label {
  display: block;
  margin-bottom: 2rem;
}

.form-group input, .form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
}

.form-group input:focus, .form-group textarea:focus {
  box-shadow: 0px 0px 10px 2px var(--secondary-color);
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color)
}

.form-group ::placeholder {
  color: var(--light-gray-color);
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer a {
  color: #444;
}

.heart {
  color: var(--secondary-color);
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}

@media (max-width:800px) {

  .intro-text-content h1 {
    font-size: 5rem;
  }

  .intro-text-content h2 {
    font-size: 4rem;
  }

  .intro-content, .grid {
    grid-template-columns: 1fr;
  }

  .gallery-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

  .gallery-img {
    width: 100%;
  }

  .grid-one-content {
    display: block;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu-spacing {
    display: none;
  }

  .menu {
    display: none;
  }


  .close-menu-label::after {
    content: '≡';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  /*general simbling selector */
  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: 'x';
  }

}
